
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
}
.profile-pic{
    padding-top: 25px;
    border-radius: 80px;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Italianno', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p{
    line-height: 2;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
}
a:hover{
    color:#EAF6F6;
}
hr{
    border-style: dotted none none;
    border-width: 5px;
    border-color: #EAF6F6;
    width: 5%;
}
.hr2{
    margin-left: 690px;
}
.top{
    background-color: #E4F9F5;
    padding-left: 100px;
}
.middle-container{
    margin: 100px, 0;
}
.bottom-container{
background-color: #66bfbf;
padding:50px 0 20px;
}
.skill-row{
    padding-left: 365px;
    width: 50%;
    margin: 100px, auto, 100px, auto;
    text-align: left;
}
img{
    display: inline-block;
}
.bottomCloud{
    position: absolute;
    left: 150px;
}
.topCloud{
    margin-left: 680px;
    margin-bottom: 40px;
}
.embed{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.cert{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.intro{
    width: 30%;
    margin: auto;
}
.contact-message{
    width: 40%;
    margin-left: 430px;
}
.footer-link{
display: inline-block;
}
.copyright{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.agile{
    margin-left: 210px
}
.btn{
    margin-top: 20px;
    background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover{
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}